@model IEnumerable<MyEventsViewModel>

@{
	ViewData["Title"] = "My Events";
}

<h3 class="text-center mb-1 font-weight-bold">@ViewData["Title"]</h3>
<div class="container-fluid app-sizing px-0">
	<hr class="hr-3 eventures-bg-color" />
	<table class="table mx-auto table-hover">
		<thead>
			<tr class="row font-weight-bold">
				<th class="col-md-1">#</th>
				<th class="col-md-3">Name</th>
				<th class="col-md-3">Start</th>
				<th class="col-md-3">End</th>
				<th class="col-md-2">Tickets</th>
			</tr>
		</thead>
		<tbody>

			@{ int counter = 1; }

			@foreach (var eventureEvent in Model)
			{
				<tr class="row">
					<th class="col-md-1">@(counter++)</th>
					<td class="col-md-3">@eventureEvent.Name</td>
					<td class="col-md-3">@eventureEvent.Start</td>
					<td class="col-md-3">@eventureEvent.End</td>
					<td class="col-md-2">@eventureEvent.TicketsCount</td>
				</tr>
			}
		</tbody>
	</table>
	<hr class="hr-3 eventures-bg-color" />
</div>